@tailwind base;
@tailwind components;
@tailwind utilities;
h2 {
    text-align: center; /* Centre le texte horizontalement */
    font-size: 2rem; /* Taille de la police */
    font-weight: bold; /* Met le texte en gras */
    margin-top: 20px; /* Espacement au-dessus du titre */
    margin-bottom: 20px; /* Espacement en-dessous du titre */
    color: #333; /* Couleur du texte */
  }
  